@font-face {
  font-family: "TTSupermolot-Regular";
  src: url("./supermolot-ttf/TT-Supermolot-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "TTSupermolot-Bold";
  src: url("./supermolot-ttf/TT-Supermolot-Bold.ttf") format("truetype");
}
